@model LavaderoMotos.Models.OrdenTrabajo

@{
    ViewData["Title"] = "Eliminar Orden de Trabajo";
}

<h2>Eliminar Orden de Trabajo</h2>

<h3>¿Estás seguro de que quieres eliminar esta orden?</h3>
<div>
    <h4>Información de la Orden</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Vehículo:</dt>
        <dd>@Html.DisplayFor(model => model.NombreVehiculo)</dd>

        <dt>Placa:</dt>
        <dd>@Html.DisplayFor(model => model.Placa)</dd>

        <dt>Total Servicios:</dt>
        <dd>@Html.DisplayFor(model => model.TotalServiciosFormateado)</dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-default">Cancelar</a>
    </form>
</div>